/* 引入字體 Noto Sans TC */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

/* sample:   http://34.193.245.158:3000/ ; http://52.205.169.27:3000/ ; http://18.140.251.171:3000/  */

body{
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    max-width: 1920px;

    
}

.header{
    /* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
    /* Set the navbar to fixed position */
    position: fixed; 
    /* Position the navbar at the top of the page */
    top: 0; 
    /* max-width: 1200px;  */
    width: 100%;
    background-color: #F8F8F8;
    z-index: 30;

} 

.title{
    /* flex: none; */
    margin-top: 5.25px;
    margin-bottom: 5.25px;
    font-size: 30px; 
    color: #448899; 
    font-weight: 700;
}

.thousand_twoHundred_navbar{
    max-width: 1200px; 
    display: flex; 
    justify-content: space-between;
    margin: 0 auto;

    /* 字體上下方向置中 */
    align-items: center;
}

.items{
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.item{
    font-size: 16px;
    color: #666666;
    margin: 10px 10px 10px 10px;
}

.middle{
    /* avoid navbar overlay other content */
    /* margin-top: 54px; */
    background-size: cover;
    height: 320px;
    position: relative; /* Ensure .middle is positioned relative */
    object-fit: cover;
    overflow: hidden;
}

.thousand_twoHundred{
    max-width: 1200px; 
    margin: 0 auto;
    position: relative; /* Make .thousand_twoHundred positioned */
    z-index: 20; /* Higher z-index to appear in front of .back_img */
}


.vertical{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    /* margin-left: 10px; */
}

.relax{
    /* width: 1180px; */
    /* z-index: 20; */
    color: #F8F8F8;
    font-size: 28px; 
    margin-top: 85px;
}

.explore{
    /* width: 1180px; */
    /* z-index: 20; */
    color: #F8F8F8;
    font-size: 16px; 
    margin-top: 15px;
}

.form-keyword-search{
    position: relative;
    z-index: 20;
    margin-top: 25px; 
    margin-bottom: 86px; 
}

.searchKeyword_input{
    /* https://www.w3schools.com/howto/howto_css_search_button.asp */
    border: 1px solid transparent;
    width: 400px; 
    padding-left: 10px; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    height: 46px;
    font-size: 16px;
}

.searchKeyword_button{
    border: 1px solid transparent;
    width: 60px; 
    background-color: #448899; 
    padding: 7px 8px 15px 8px; 
    cursor: pointer; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    height: 49px;
    /* https://www.tutorialbrain.com/editor_css/css_icons_inside_and_outside_input_text.html */
    position: absolute;
}


.back_img{
    /* https://ithelp.ithome.com.tw/articles/10190721 */

    /* position: relative; */
    position: absolute;
    /* overlap back */
    z-index: 10;

    object-fit: cover;
    overflow: hidden;
    
    background-size: cover;
    height: 320px;
    width: 100%;
}

.mrt_sorted {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* 字體上下方向置中 */
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.mrts {
    cursor: pointer;
    color: gray;
}

.mrts:hover {
    color: black;
}
 
.left-arrow:hover {
    cursor: pointer;
    background-image: url('../photo_icon/mrt_left_Hovered.png');
}
.right-arrow:hover {
    cursor: pointer;
    background-image: url('../photo_icon/mrt_right_Hovered.png');    
}

.copyRight{
    display: none;
    position: fixed;
    height: 104px;
    bottom: 0; 
    left: 0;
    width: 100%;
    z-index: 10;
}


.copy_right {
    background-size: cover;
    width: 100%;
    height: 100%
}

@media(max-width: 1920px) and (min-width: 1201px){

    .load_attractions{
        max-width: 1200px;
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
        flex-flow: row wrap;
        margin: 0 auto;
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .load_attractions .picture:last-child {
        margin-right: auto;
    }

    .picture{
        flex: none;
        width: 270px; /* 23%; */
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
    }

    .picture > img{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 162px;
        /* https://www.w3schools.com/css/css3_object-fit.asp */
        object-fit: cover; 
    }

    .word{
        background-color: #FFFFFF;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: left;
        flex-direction: column;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .attraction_name{
        font-weight: 900;
        font-size: 16px;
        padding-left: 10px;
        color: #757575;
    }

    .horizonal{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        color: #757575;
        font-size: 16px;
    }

    .attraction_mrt .attraction_category{
        font-weight: 100;
    }

}

@media(max-width: 1200px) and (min-width: 601px){

    .title {
        padding-left: 10px;
    }

    .back_img{
        height: 320px;    
        width: 100%;
    }

    .load_attractions{
        max-width: 95%;
    }

    .picture{
        max-width: 550px;
        max-height: 480px;

        width: 46%;
    }

    .picture > img{
        max-width: 550px;
        max-height: 400px;

        aspect-ratio: 550 / 400;

        width: auto;
        height: auto;
    }

}

@media(max-width: 600px){

    .title{
        margin-left: 10px;
    }

    .middle{
        height: 320px;
        width: 100%;
    }

    /* .vertical{
        margin-left: 20px;
        height: 280px;
    } 

    .relax{
        width: 320px;
        margin-top: 65px;
    }

    .explore{
        width: 320px;
    } */

    .searchKeyword_input{
        width: 230px; 
        padding-left: 10px; 
    }

    .back_img{
        width: 100%;
        height: 320px;
    }

    .load_attractions{
        max-width: 90%;
    }

    .picture{
        width: 100%;
    }

    .picture > img{
        aspect-ratio: 322 / 202;

        width: auto;
        height: auto;
    }

    .word{
        height: 78px;
    }

}

/* body{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    max-width: 1920px;
}

.header{
    display: grid; 
    grid-template-columns: auto 1fr; 
    align-items: center; 
    height: 54px;
  }
  
.title{
    margin: 10px; 
    color: #448899;
    font-weight: bold;
}

.burger_items{
    display: grid; 
    grid-auto-flow: column; 
    justify-content: flex-end; 
    gap: 10px; 
}
  
.item{
    margin: 10px; 
}

.middle {
    position: relative;
    text-align: center;
}

.taipei-101{
    background-size: cover;
    display: grid; 
    place-items: center; 
    text-align: center;
    height: 320px;
    width: 100%;
}

.SearchColorSet {
    position: relative;
    background-color: #448899;
}

.search-icon {
    position: absolute;
}

.search-section {
    position: absolute;
} */